{
  "Jon": "xoxp-your-user-token-for-jon",
  "Coop Product": "xoxp-optional",
  "Coop Sales": "xoxp-optional",
  "Coop Security": "xoxp-optional",
  "Coop Hello": "xoxp-optional",
  "Coop Support": "xoxp-optional"
}
